.places__url {
    position: relative;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-decoration-line: underline;
    padding: 0;
    margin-top: 16px;
    color: #FFFFFF;
    transition: opacity 0.5s ease;
    
    }

    .places__url:hover {
        opacity: 0.5;
    }
