.video__subtitle { 
    position: absolute;
    max-width: 285px;
    bottom: 6%;
    left: 6%;
   
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    z-index: 1;
    
    padding: 0 0;

    color: #FFFFFF;

}