.intro__text-main {

    position: relative;
    width: 683px;
    
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;

    color: #FFFFFF;
    margin: 0 0;
    padding: 0 0;
}