.main__places {
    margin: 0 auto 102px;
    
  
    
}

@media screen and (max-width: 1024px) {
    .main__places {
        margin: 0 48px 102px;
    }
}

@media screen and (max-width: 768px) {
    .main__places {
        margin: 0 24px 102px;
    }
}


@media screen and (max-width: 375px) {
    .main__places {
        margin: 0 auto 64px;
    }
}




/* .main__places {
    
    margin: 0 auto 102px;
   
}

@media screen and (max-width: 1279px) {
    .main__places {
        padding: 0 48px;
    }
}




@media screen and (max-width: 768px) {
    .main__places {
        margin: 0 0 102px;
        padding: 0 24px;
    }
}


@media screen and (max-width: 375px) {
    .main__places {
        margin: 0 0 64px;
        padding: 0 16px;
    }
} */